@media screen and (min-width: 320px) {
	html,
	body {
		overflow-x: hidden;
		background-color: var(--main-bcg);
		margin: 0px;
	}
}

// * {
// 	outline: violet solid 1px;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

body {
	background-color: var(--modal-bcg);
	font-family: "Nunito";
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

link {
	text-decoration: none;
}

button {
	line-height: 0px;
	border: none;
	background: none;
	padding: 0px;

	cursor: pointer;
}

a {
	text-decoration: none;
}

.section-title {
	text-align: center;
	margin-bottom: 68px;

	@include font-line(20px, 24px);
	font-weight: 600;
	color: var(--main-title-f-color);
}

.section-title--acc {
	font-family: "Montserrat";
	@include font-line(30px, 34px);
	font-weight: 900;
}
