:root {
	--acc-color: #c7a17a;

	// *** Backgrounds ***

	--main-bcg: #f9fbff;
	--section-bcg: #415167;
	--alt-section-bcg: #edf0f5;

	// *** Font`s color ***
	--main-f-color: #151d28;
	--main-title-f-color: #415167;
	--other-title-f-color: #232c38;
	--menu-f-color: #edf0f5;

	// Other
}
