:root {
	--acc-color: #f8d24e;

	// *** Backgrounds ***
	--main-bcg: #84a278;
	--modal-bcg: #ffffff;
	--card-bcg: #fcfcfc;

	// *** Font`s color ***
	--first-font-color: #131313;
	--second-font-color: #000000;
	--alt-font-color: #fcfcfc;

	// Other
}
