%animation {
	transition-property: transform, color, background-color, box-shadow, fill, border, border-color, opacity, visibility,
		stroke;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
