<div class="container standart">
    <h2 class="section-title"> Choose Your Favorite<br> <span class="section-title--acc">STANDART
        </span></h2>

    <div class="standart-cards-list">
        <div class="standart-card">
            <img srcset="./images/standart-goods/morning.png 235w, ./images/standart-goods/morning@2x.png 470w "
                sizes="235px" src="./images/standart-goods/morning.png" alt="REVO Morning" width="200" />
            <div class="standart-info">
                <p class="standart-price">99</p>
                <p class="standart-name">REVO Morning</p>
                <p class="standart-description">Bitter, sweet aftertaste, floral scent</p>

                <ul class="standart-buttons">
                    <li><button class="buy-now-btn" type="button">BUY NOW</button></li>
                    <li><button class="detail-btn" type="button">DETAIL</button></li>
                </ul>
            </div>
        </div>
        <div class="standart-card">
            <img srcset="./images/standart-goods/origin.png 235w, ./images/standart-goods/origin@2x.png 470w "
                sizes="235px" src="./images/standart-goods/origin.png" alt="REVO Origin" width="200" />
            <div class="standart-info">
                <p class="standart-price">139</p>
                <p class="standart-name">REVO Origin</p>
                <p class="standart-description">Sweet aftertaste, less bitter, strawberry sour taste</p>

                <ul class="standart-buttons">
                    <li><button class="buy-now-btn" type="button">BUY NOW</button></li>
                    <li><button class="detail-btn" type="button">DETAIL</button></li>
                </ul>
            </div>
        </div>
        <div class="standart-card">
            <img srcset="./images/standart-goods/everyday.png 235w, ./images/standart-goods/everyday@2x.png 470w "
                sizes="235px" src="./images/standart-goods/everyday.png" alt="REVO Everyday" width="200" />
            <div class="standart-info">
                <p class="standart-price">85</p>
                <p class="standart-name">REVO Everyday</p>
                <p class="standart-description">balance, bitter aftertaste, chocolate taste</p>

                <ul class="standart-buttons">
                    <li><button class="buy-now-btn" type="button">BUY NOW</button></li>
                    <li><button class="detail-btn" type="button">DETAIL</button></li>
                </ul>
            </div>
        </div>
        <div class="standart-card">
            <img srcset="./images/standart-goods/bold.png 235w, ./images/standart-goods/bold@2x.png 470w " sizes="235px"
                src="./images/standart-goods/bold.png" alt="REVO Bold" width="200" />
            <div class="standart-info">
                <p class="standart-price">75</p>
                <p class="standart-name">REVO Bold</p>
                <p class="standart-description">bold, bitter, traditional</p>

                <ul class="standart-buttons">
                    <li><button class="buy-now-btn" type="button">BUY NOW</button></li>
                    <li><button class="detail-btn" type="button">DETAIL</button></li>
                </ul>
            </div>
        </div>
        <div class="standart-card">
            <img srcset="./images/standart-goods/honey.png 235w, ./images/standart-goods/honey@2x.png 470w "
                sizes="235px" src="./images/standart-goods/honey.png" alt="REVO Honey" width="200" />
            <div class="standart-info">
                <p class="standart-price">195</p>
                <p class="standart-name">REVO Honey</p>
                <p class="standart-description">high sweetness, after sweet, sour apple family</p>

                <ul class="standart-buttons">
                    <li><button class="buy-now-btn" type="button">BUY NOW</button></li>
                    <li><button class="detail-btn" type="button">DETAIL</button></li>
                </ul>
            </div>
        </div>
        <div class="standart-card">
            <img srcset="./images/standart-goods/natural.png 235w, ./images/standart-goods/natural@2x.png 470w "
                sizes="235px" src="./images/standart-goods/natural.png" alt="REVO Natural" width="200" />
            <div class="standart-info">
                <p class="standart-price">85</p>
                <p class="standart-name">REVO Natural</p>
                <p class="standart-description">Sweet aftertaste, floral scent, strawberry sour taste</p>

                <ul class="standart-buttons">
                    <li><button class="buy-now-btn" type="button">BUY NOW</button></li>
                    <li><button class="detail-btn" type="button">DETAIL</button></li>
                </ul>
            </div>
        </div>
    </div>

</div>