<section>
    <div class="container coffee-build">

        <h2 class="section-title"> Your Personalized Coffee<br> <span class="section-title--acc">COFFEE BUILD YOUR
                BASE</span></h2>
        <ul class="coffee-build__list">
            <li class="coffee-build__item"><svg width="114" height="114">
                    <use href="./images/svg/sprite.svg#icon-origin"></use>
                </svg>
                <h3 class="coffee-build__item-title">Origin</h3>
                <p>Arabica and Robusta coffee beans meet international standards.</p>
            </li>

            <li class="coffee-build__item"><svg width="114" height="114">
                    <use href="./images/svg/sprite.svg#icon-quality"></use>
                </svg>
                <h3 class="coffee-build__item-title">Quality</h3>
                <p>Each coffee bean goes through many levels of quality control</p>
            </li>

            <li class="coffee-build__item"><svg width="114" height="114">
                    <use href="./images/svg/sprite.svg#icon-beans"></use>
                </svg>
                <h3 class="coffee-build__item-title">Coffee beans</h3>
                <p>70% of the quality of a cup of coffee comes from the origin and quality of the green bean.</p>
            </li>

            <li class="coffee-build__item"><svg width="114" height="114">
                    <use href="./images/svg/sprite.svg#icon-making"></use>
                </svg>
                <h3 class="coffee-build__item-title">Making coffee</h3>
                <p>The coffee beans are molted through a thorough and rigorous roasting process.</p>
            </li>

        </ul>

    </div>
</section>