<header class="hero-header">
    <div class="hero-header__container container ">
        <div class="hero">

            <img class="hero__logo" srcset="./images/logo/logo.png w124, ./images/logo/logo@2x.png w248" sizes="124px"
                src="./images/logo/logo.png" alt="logotype">

            <h1 class="hero__title">YOUR <span class="hero__acc-title">PERSONALIZED</span> COFFEE</h1>
        </div>

        <div class="hero-header__menu">
            <ul class="hero-header__buttons-list">

                <li class="hero-header__chart-button">
                    <button type="button">
                        <svg class="chart-icon menu-icon" width="30" height="30">
                            <use href="./images/svg/sprite.svg#icon-shopping-cart"></use>
                        </svg>
                    </button>
                </li>

                <li class="hero-header__burger-button">
                    <button type="button">
                        <svg class="burger-icon menu-icon " width="30" height="30">
                            <use href="./images/svg/sprite.svg#icon-burger"></use>
                        </svg>
                    </button>
                </li>

            </ul>

            <nav class="page-nav">
                <ul class="page-nav__items">
                    <li class="page-nav__item"><a class="page-nav__link" href="">HOME PAGE</a></li>
                    <li class="page-nav__item"><a class="page-nav__link" href="">COFFEE</a></li>
                    <li class="page-nav__item"><a class="page-nav__link" href="">FILTER COFFEE</a></li>
                    <li class="page-nav__item"><a class="page-nav__link" href="">COFFEE COMBO</a></li>
                    <li class="page-nav__item"><a class="page-nav__link" href="">GIFTSET</a></li>
                    <li class="page-nav__item"><a class="page-nav__link" href="">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </div>

    </div>
</header>