.coffee-build {
	margin-bottom: 128px;
	max-width: 1104px;
}

.coffee-build__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	@media screen and (max-width: 767px) {
		gap: 15px;
	}
	@media screen and (min-width: 768px) {
		gap: 66px;
	}
}

.coffee-build__item {
	text-align: center;
	display: block;

	width: 226px;
	height: 246px;

	font-weight: 300;
	color: var(--main-f-color);
	@include font-line(16px, 21px);
}

.coffee-build__item-title {
	font-weight: 700;
	color: var(--other-title-f-color);
	@include font-line(24px, 28px);
}
